body {
	font-family: verdana, arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: normal;
	color: #333333;  
    background: #ffffff url(images/bg.jpg) repeat-x top left;   
} 

#wrapper {
	position: relative; 
	margin-left: auto;
	margin-right: auto;   
	width: 980px;      
}


/*---------- HEADER
--------------------------------------------------------------------------*/


#header {
	position: relative;
	background: #aaaaaa url(images/bg.jpg) repeat-x top left;
	height: 124px;
	border-bottom: 5px solid #ffffff;
}

#top {
	height: 60px;   
	background: url(images/logo.jpg) no-repeat top left;
}

#top #topLinks {
	padding: 0;
	text-align: right;
	color: #65727f;
	height: 20px;
	line-height: 20px;
}

#topLinks #linksBox {
	text-align: left;
	padding: 2px 6px;
	background: #32373D;
	border: 1px solid #222;
	border-top: none;
}

#topUser {
	margin-top: 1px;
	text-align: right;
	padding: 0;
	height: 35px;
	line-height: 35px;	
	color: #71788a;
}

#topUser #userBox{
	text-align: left;
	padding: 9px 25px 10px 10px;
	height: 35px;
	line-height: 35px;
	background: #3e474f;
	border: 1px solid #343b42;
	border-top: 1px solid #222;
	border-top: none;
}

#topUser #userName{
	color: #ffffff;
	font-weight: bold;
}

#mainNavigation {
	position: relative;
	height: 40px;
}


/*---------- MAINBODY
--------------------------------------------------------------------------*/


#mainBody {
	position: relative;
	width: 980px;
}

#wrapper_top {
	position: relative;
	text-align: left;
	font-size: 1px;
	height: 10px;
	background: url(images/wrapper_top.gif) no-repeat top left;
}

#leftDiv {
	position: relative;
	float: left;
	width: 250px;
}

div.blueHeader{
	position: relative;
	padding: 10px 0 0 15px;
	font-family: trebuchet MS, verdana, arial, Helvetica, sans-serif;
	height: 25px;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	border-right: 1px solid #222b35;
	border-left: 1px solid #222b35;
	background: url(images/h1_bg.jpg) repeat-x top left;
}

div.blueHeader div#showAll{
	position: absolute;
	top: 8px;
	right: 25px;
	width: 30px;
	height: 20px;
	background: url(images/plus.gif) no-repeat top left;
}

div.blueHeader div#showMain{
	position: absolute;
	top: 8px;
	right: 0px;
	width: 30px;
	height: 20px;
	background: url(images/minus.gif) no-repeat top left;
}

#rightDiv {
	position: relative;
	float: right;
	width: 720px;
}

#rightDiv h1{
	position: relative;
	padding: 10px 0 0 15px;
	font-family: trebuchet MS, verdana, arial, Helvetica, sans-serif;
	height: 25px;
	font-weight: bold;
	font-size: 14px;
	color: #ffffff;
	border-right: 1px solid #222b35;
	border-left: 1px solid #222b35;
	background: url(images/h1_bg.jpg) repeat-x top left;
}

#rightContent {
	position: relative;
	padding: 10px 0 9px 0;
	width: 720px;
}

#rightContent a {
	color: #0041a3;
}

#rightContent a:hover {
	color: #fff;
}


#rightContent p {
	padding: 5px 10px;
}

div.clear {
	position: relative;
	clear: both;
	font-size: 1px;
	height: 1px;
	line-height: 1em;
}

.updated {
	font-size: 10px;
}

.whitetext, a.whitetext {
	color: #fff;
}

#newsAdmin table.logtable {
		margin: 10px;
}

#newsAdmin .logtable th {
		font-weight: bold;
		padding: 3px;
		border: 1px solid #404b51;
		font-size: 12px;
		background: #ccc;
}

#newsAdmin .logtable a {
		font-weight: bold;
}

#newsAdmin .logtable td {
		font-weight: normal;
		font-size: 12px;
		padding: 2px 3px;
		border: 1px solid #404b51;
		background: #eee;
}

#newsAdmin .logtable a:hover {
		color: #FF7A2D;
}

/*---------- FOOTER
--------------------------------------------------------------------------*/

#footer {
	padding: 0 0 0 0;
	height: 30px;
}

#footer div{
	padding: 4px 5px 0 5px;
	text-align: right;
	font-family: verdana, arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #aaaaaa;
	height: 18px;
	background: url(images/footer_bg.gif) repeat-x top left;
	border: 1px solid #364f2e;
}

#footer a {
	color: #fff;
}

#footer .leftalign {
	float: left;
}
