/* NewsAdmin Settings
---------------------------------------------------------- */

#newsAdmin {
    /*position: relative;*/
	padding: 0 0 10px 0;
	min-height: 560px;
	line-height: 1 em;
	color: #413f48;
	font-family: arial, Trebuchet MS, arial;
	text-align: left;
	font-size: 11px;
	font-weight:bold;
    background: #aab4be;		
	border:1px solid #384651;  	
}

#newsAdmin h2{
	margin: 0 0 5px 0;
	padding: 0 5px 0 5px;	
	font-size: 13px;	
	font-family: Trebuchet MS, arial;	
	color: #ffffff;
    background: #3c454c;		
	border-bottom:1px solid #384651;  	
}



#newsAdmin table.newsTable{
    width: 715px;
    margin: 5px 0 5px 0;	    
}

#newsAdmin table.newsTable td.tdNewsAdminLeft{
   padding: 0 6px 0 0;
   width: 150px;
   min-height: 20px;
   line-height: 20px;
   text-align: right;
   vertical-align: top; 
}

#newsAdmin table.newsTable td.tdNewsAdminCenter{
   padding: 2px 0 0 0;
   width: 260px;
   min-height: 18px;
   line-height: 20px;
   vertical-align: top;
}

#newsAdmin table.newsTable td.tdNewsAdminCenter input{
   padding: 1px;
   height: 14px;
   width: 256px;
   font-size: 11px;
   border:1px solid #384637;
}

#newsAdmin table.newsTable td.tdNewsDate input{
   margin-top: 3px;
   padding: 1px;
   /*height: 14px;*/
   width: 60px;
   font-size: 11px;
   border:1px solid #384637;
}

#newsAdmin table.newsTable td.tdNewsAdminCenter select{
   padding: 1px;
   width: 260px;
   height: 18px;
   font-size: 11px;
   border:1px solid #384637;
}

#newsAdmin table.newsTable td.tdNewsAdminCenter textarea{
	padding: 1px;
	font-family: arial;
	width: 256px;
	height: 50px;
	font-size: 11px;
	border: 1px solid #384637;	
}

#newsAdmin table.newsTable td.tdNewsAdminRight{
   padding: 3px 0 0 0;
   width: 280px;
   min-height: 17px;
   line-height: 20px;
   text-align: left;
   vertical-align: top;	   
}

#newsAdmin table.newsTable td.tdNewsAdminRight img{
   border: none;
} 

#newsAdmin #tinyMCE {
    /*position: relative; /*CSS IE6 Hack*/
    padding: 5px 0 0 160px;
	width: 550px;
}

#newsAdmin #tinyMCE textarea {
	width: 544px;
	height: 364px;
}
