

/* settingsCMS Skin
---------------------------------------------------------- */


#settingsCMS {
	font-family: arial, Trebuchet MS, arial;
	color: #413f48;
    background: #a9d0e2 url(skinsimages/skins_bg_blue.gif) repeat-x bottom left;		
	border:1px solid #384651;  	
}

#settingsCMS h2{		
	font-family: Trebuchet MS, arial;	
	color: #ffffff;
    background: #3c454c url(skinsimages/skins_h2_blue.gif) repeat-x bottom left;				
	border-bottom:1px solid #384651;  	
}

/* settingsPassword Skin
---------------------------------------------------------- */

#settingsPassword {
	font-family: arial, Trebuchet MS, arial;
	color: #413f48;		
    background: #a9d0e2 url(skinsimages/skins_bg_blue2.gif) repeat-x bottom left;		
	border:1px solid #384651;  	
}

#settingsPassword h2{
	font-family: Trebuchet MS, arial;	
	color: #ffffff;
    background: #3c454c url(skinsimages/skins_h2_blue.gif) repeat-x bottom left;
	border-bottom:1px solid #384651;  	
}




#mainNavigation li a:link, #mainNavigation li a:visited {
    float:left; 
    background:url("skinsimages/navi_left.gif") no-repeat left top;
    padding:0 0 0 15px;
    text-decoration:none;  	 
} 

#mainNavigation li a span {
    float:left;
    display:block;
    background:url("skinsimages/navi_right.gif") no-repeat right top;
    padding:12px 15px 15px 0px;
    font-weight: bold;
    font-size: 13px;
	font-family: Trebuchet MS, arial, verdana;       
    color:#ffffff;  
} 

    /* Commented Backslash Hack hides rule from IE5-Mac \*/
#mainNavigation li a span {float:none;}
    /* End IE5-Mac hack */

    /* Commented Backslash Hack hides rule from IE5-Mac \*/
#mainNavigation li a span {float:none;}
    /* End IE5-Mac hack */
   
#mainNavigation li a:hover span {
    color:#ffffff;
}

#mainNavigation li a:hover {
    background-position:0% -50px;
}

#mainNavigation li a:hover span {
    background-position:100% -50px;
}

/*#mainNavigation li a:focus, */#mainNavigation li a.selectedMenu {
    background-position:0% -100px;
}

/*#mainNavigation li a:focus span, */#mainNavigation li a span.selectedMenu {
    background-position:100% -100px;
    color: #42464c;
}

