/* BASIC mainMenu 2
HTML:	<ul><li><div><a href="#">Link</a></div></li></ul>
------------------------------------------------------ */

#mainMenu ul {
	padding: 0 0 0 0;
	width: 1130px;
	height: 38px;
	background: url(images/split.gif) no-repeat top left;
}

#mainMenu ul li {
	margin: 0 0 0 0;
	display: inline;
}

#mainMenu ul li div {
	float: left;
	padding: 0 2px 0 0;
	height: 38px;
	background: url(images/split.gif) no-repeat top right;
}

#mainMenu ul li div a:link, #mainMenu ul li div a:visited {
	padding: 8px 20px 8px 20px;
	font-family: trebuchet ms, verdana, arial;
	color: #3b454c;
	font-size: 16px;
	height: 38px;
	line-height: 38px;
	text-decoration: none;
}

#mainMenu ul li div a:hover {
	background: url(images/menu_over.jpg) repeat-x top right;  
}

#mainMenu ul li div a:hover {
	background: url(images/menu_over.jpg) repeat-x top right;
}

#mainMenu ul li.selected div a{
	color: #A81018;
}

/* BASIC subMenu 1
HTML:	<ul><li><a href="#">Link</a></li></ul>
------------------------------------------------------ */

#subMenu  {
	padding: 5px;
}

#subMenu ul {
	margin: 0 0 0 0;	
}

#subMenu ul li {
	
	padding-left:25px;
	min-height: 26px;
	background: url(images/bullet.gif) no-repeat top left;
}

#subMenu ul li a:link, #subMenu ul li a:visited {
	
	padding: 0px 0px 0px 0px;
	color: #333333;
	font-size: 14px;
	font-family: arial, verdana;
	text-decoration: underline;
	
}

#subMenu ul li a:hover {
	color: #ac6821;
}

#subMenu ul li a:focus {
	color: #777777;
}

#subMenu ul li a div {
	padding: 5px 0 0 0;
}

/*  Part for dropdown menu
    Submenu also colored
    Part for mobile devices
*/

#mainMenu {
    z-index: 100;
}

#nav {
    text-align: left;
    overflow: hidden;
    height: 38px;
}
ul#nav li {
    list-style-type: none;
    float: left;   
}

ul#nav li:hover {
    list-style-type: none;
    float: left; 
}

ul#nav li a {
    display : block;
    margin:10px;
    text-decoration : none;
    font-size: 18px;
    font-family: arial, verdana;
    color: #3b454c;
}

ul#nav>li.selected>a {
    color: #A81018;
}

ul#lvl2 {
    overflow: visible;
    display: none;
}

ul#nav li:hover ul#lvl2 {
    position: absolute; 
    display: block;
    width: 200px;
}

ul#lvl2 li {  
    list-style-type: none;
    float: left;
    background:#acacac; /*#9cc757;*/
}

ul#lvl2 li:hover {
    list-style-type: none;
    float: left;
    background: #f0f0f0;    
}

ul#lvl2 li a {
    display : block;
    text-decoration : none;
    font-size: 16px;
    margin:8px;
    width: 180px; 
    font-family: arial, verdana;
    color: #3b454c;
}

ul#lvl2 li.selected a {
    color: #A81018;
}

ul#lvl3 li.selected a {
    color: #A81018;
}